/* body{
    color: sandybrown;
}

h1 {
    color: red;
    font-size: 20px;
    padding: 50px;
   opacity: 1;
}

p {
    font-weight: bold;
    color:blueviolet;

}

.img1 { 
    width: 200px;
    border: 2px solid yellowgreen;
    align-content: center;

    margin: 500px;
    padding: 25px;
    border-radius: 50px;

} */

/* .langit {
    width: 1900px;
}

.pesawat{
    position: absolute;
    top: 500px;
    left: 500px; */
}

